
.scroll-1{
  background: url(assets/image/foto-fundo-4.jpg) top -10px right -480px;
  background-size: 1582px;
  padding-bottom: 35px;
  height: auto;
  .row{
    top: 0px;
    .col-md-4{
      padding: 0px;
      float: none!important;
      text-align: center;
      .logo{
        margin: 0 auto;
        text-align: center;
        span{
          height: 219px;
          width: 189px;
          margin: 0 auto;
        }
      }
    }
    .col-md-8{
      .chamada{
        font-size: 27px;
        width: 90%;
        margin: 20px auto;
        line-height: 38px;
        text-align: center;
      }
      .chamada-2{
        margin: 0 auto;
        width: 90%;
        display: block;
        font-size: 20px;
        text-align: center;
      }
      .text-button{
        h4{
          margin: 18px auto;
          width: 90%;
          font-size: 16px;
          text-align: center;
        }
        .call-to-action{
          margin: 0 auto;
          width: 90%;
          display: block;
          height: 69px;
          font-size: 23px;
        }
      }
    }
  }

}


.scroll-2{
  .chamada{
    max-width: 80%;
    font-size: 45px;
    max-width: 80%;
    font-size: 45px;
    height: auto;
    padding-bottom: 50px;
    &:before, &:after{
      zoom:70%;
    }
  }
  .chamada-2{
    max-width: 90%;
    font-size: 17px;
  }
  .etapas{
    max-width: 95%;
    height: auto;
    background-image: linear-gradient(0deg,#fffaf3 0,#FFF 30%);
    ul{
      top: 40px;
      padding-bottom: 40px;
      li{
        margin-bottom: 40px;
      }
      .dotted{
        margin-bottom: 30px;
        top: 0px;
      }
      .faca-bolos{
        margin-top: 50px;
      }
    }
  }

}

.scroll-3 {
  .container {
    .chamada{
      margin: 50px 0 20px;
    }
  }
}

.scroll-4 {
  height: auto;
  padding-bottom: 50px;
  .container {
    p{
      font-size: 19px;
    }
    button{
      margin: 30px auto;
      width: 90%;
      display: block;
      height: 69px;
      font-size: 23px;
    }
  }
}

.scroll-5{
  &:before{
    background-size: 283%;
  }
  .bio{
    margin-top: -30px;
  }
  .img-tata{
    display: none;
    }
}

footer{
  height: auto;
  text-align: center;
  .col-md-4:first-child{
    display: none;
    }
  .col-md-4{
    text-align: center!important;
    margin: 10px 0;
    color: #B62F1E;

  }
}



.modal{
  .modal-dialog{
    margin: 10px auto;
    .modal-content{
    max-width: 94%;
    margin: 0 auto;
    }
  }
  .pergunta-modal{
    font-size: 33px;
    width: 100%;
  }
  .list-group-item{
    line-height: 20px!important;
  }
}

.passo-2 {
  ._form{
    width: 100%;
    margin: 10px auto;
  }
  #recipient-name{
    font-size: 12px;
    text-indent: 0px;
  }
  .pergunta-modal{
    font-size: 25px;
  }
  ._button-wrapper{
    display: inline-block;
    width: 43.3%;
    vertical-align: bottom;
  }
  .ou{
    display: inline-block;
    margin: 5px;
  }
  #_form_1_submit,  #messenger{
    width: 100%!important;
  }
   #messenger{
     padding-top: 7px;
   }
}


.confirm{
#inscricao-header, #confirmar-header{
  padding-top: 10px;
  h2{
    font-size: 64px;
    margin-top: 10px;
  }
}

.scroll-2{
  padding: 0px;
}

.scroll-4{
  height: auto;
}

#messenger{
  max-width: 90%;
  font-size: 18px;
}

.scroll-5{
  img{
    max-width: 70%;
    height: auto;
  }
}


}

.final #confirmar-header p{
  font-size: 20px;
}
