/*.scroll-1 {*/
/*height: 100vh;*/
/*border-width: 4px;*/
/*}*/

.scroll-1 {
    border-width: 8px;
}

.scroll-1 .chamada {
    font-size: 47px;
    width: 620px;
    line-height: 65px;
    margin-top: 110px;
    margin-left: 90px;
}

.scroll-1 .sub-headline {
    font-size: 23px;
    width: 620px;
    line-height: 35px;
    margin-top: 20px;
    margin-left: 90px;
}

@media screen and (max-width: 768px) {
    .sub-headline {
        font-size: 16px !important;
        text-align: center;
    }

    .scroll-1 .text-button h4 {
        text-align: center;
        text-shadow: 1px 2px 4px rgba(0,0,0,.66);
    }

    .chamada-b {
        font-size: 28px !important;
    }
}

.scroll-1 .chamada-2 {
    font-size: 23px;
    width: 610px;
    margin-left: 90px;
    font-weight: 700;
    border-radius: 5px;
    padding: 12px 10px;
    border-width: 4px;
}

.scroll-1 .call-to-action {
    width: 280px;
    height: 70px;
    font-size: 22px;
    margin-left: 90px;
    font-weight: 700;
    border-radius: 5px;
}

.titulo-2 {
    margin-top: 60px !important;
    margin-bottom: 20px !important;
}

.titulo-3 {
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

@media screen and (max-width: 768px) {
    .btn-small {
        height: 60px !important;
    }
    .compact-scroll-2 {
        padding-top: 20px !important;
    }
    .chamada {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .titulo-2 {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
}

.scroll-1 .text-button h4 {
    font-size: 19px;
    margin-left: 90px;
    margin-bottom: 15px;
    color: #ffffff;
}

.scroll-1 .logo {
    overflow: hidden;
}

.scroll-1 .logo span {
    position: relative;
    top: 50px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 510px;
    width: 450px;
}

@media screen and (max-width: 1024px) {

    .scroll-1 .logo span {
        top: 0;
    }

    .scroll-1 .chamada,
    .scroll-1 .chamada-2,
    .scroll-1 .call-to-action,
    .scroll-1 .text-button h4 {
        margin: 0 0 20px;
        width: 100%;
    }

    .scroll-1 .chamada {
        font-size: 25px;
        text-align: center;
        line-height: 1.5;
    }

    .scroll-1 .chamada-2 {
        font-size: 11px;
        padding: 7px 3px;
    }

    .scroll-1 .text-button h4 {
        font-size: 17px;
    }
}

.scroll-2 {
    padding: 70px 0 40px;
}

.scroll-2:after {
    opacity: .017;
}

.scroll-2 .chamada {
    font-size: 42px;
    width: 445px;
    height: 185px;
    padding-bottom: 0;
}

.scroll-2 .chamada:after {
    right: 0;
}

.scroll-2 .chamada:before {
    left: 0;
}

.scroll-2 .etapas {
    width: 810px;
    height: 270px;
    background-image: linear-gradient(0deg, #f3edeb 0, #FFF 30%);
}

.scroll-2 .etapas ul {
    top: 70px;
}

.scroll-2 .etapas ul li:before {
    background-size: contain;
    width: 60px;
    height: 70px;
}

.scroll-2 .etapas ul .aprenda:before {
    width: 60px;
    height: 80px;
    top: 1px;
    background-repeat: no-repeat;
    background-size: contain;
}

.scroll-2 .etapas ul .venda:before {
    top: -8px;
    position: relative;
}

.scroll-2 .etapas ul .faca-bolos:before {
    width: 176px;
    height: 113px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.scroll-2 .etapas ul .dotted {
    width: 85px;
    top: 60px;
}

.scroll-2 .etapas ul li {
    font-size: 24px;
    line-height: 1;
}

.scroll-2-fc {
    margin-bottom: 200px !important;
}

@media screen and (max-width: 1024px) {

    .scroll-2 .etapas {
        height: auto;
        padding-bottom: 90px;
    }

    .scroll-2 .chamada {
        max-width: 80%;
        font-size: 34px;
        height: auto;
        padding-bottom: 50px;
    }

    .scroll-2 .etapas ul .dotted {
        display: none;
    }

    .scroll-2 .etapas ul .aprenda {
        margin-bottom: 60px;
    }

    .scroll-2 .etapas ul .faca-bolos {
        margin-bottom: 90px;
    }
}

.scroll-3 {
    top: -170px;
    padding-top: 120px;
}

.scroll-3 .container .chamada {
    font-size: 28px;
    margin-bottom: 20px;
}

.scroll-3 .container .titulo-video {
    font-weight: 700;
}

.scroll-3:before {
    height: 540px;
}

.scroll-3:after {
    top: 530px;
}

.video {
    max-width: 725px;
    margin: 0 auto;
}

.video-container:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border: 2px solid rgba(82, 187, 89, 1);
    border-radius: 8px;
    z-index: 1;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    z-index: 2;
    padding: 20px;
}

.scroll-3 .container .video .embed-responsive {
    box-shadow: none;
    border-radius: 8px;
}

.scroll-4 {
    height: 380px;
}

.scroll-4 .container .chamada {
    margin-bottom: 30px;
    font-size: 47px;
    line-height: 0.71;
    /*letter-spacing: 4.2px;*/
}

.scroll-4 .container p {
    max-width: 870px;
    font-size: 19px;
}

.scroll-4 .container button {
    width: 260px;
    height: 67px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 25px;
}

@media screen and (max-width: 1024px) {

    .scroll-4 .container .chamada {
        line-height: 1.1;
    }
}

.scroll-5 {
    padding-top: 50px;
}

.scroll-5 .bio {
    margin-top: 50px;
}

.header-fc {
    font-size: 50px !important;
    margin-top: 75px !important;
}

.inscricao-header {
    height: 750px !important;
}

.scroll-2 {
    padding-top: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
    .scroll-5 {
        padding-top: 20px;
    }

    .header-fc {
        font-size: 40px !important;
        margin-top: 0px !important;
        padding-bottom: 0px !important;
        padding-top: 30px !important;
        margin-bottom: 0px !important;
    }

    .title-fc {
        font-size: 50px !important;
    }

    .inscricao-header {
        height: 650px !important;
    }

    .scroll-2 {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 1024px) {
    .scroll-5:before {
        background-size: 315%;
    }
}

.scroll-5 .container {
    max-width: 880px;
}

.scroll-5 .bio {
    padding: 0;
}

.scroll-5 .bio h3 {
    font-size: 52px;
    font-weight: 700;
}

.scroll-5 .bio p {
    font-size: 17px;
}

.img-tata img {
    height: 415px;
    margin-left: 50px;
}

/*------------------------------------*\
   #MODAL
\*------------------------------------*/

.modal .pergunta-modal {
    font-size: 28px;
    width: 65%;
    margin: 10px auto;
}

.modal input {
    margin-bottom: 15px;
}

.modal .cadastre-se {
    margin-top: -20px;
}

.passo-2.modal .modal-dialog {
    margin: 20px auto;
}

.modal .modal-dialog {
    margin: 50px auto;
}

.passo-2 .ou {
    margin: 5px;
}

.passo-2 ._form {
    width: 72%;
}

.modal #_form_1_submit,
.modal #messenger {
    margin: 10px auto 0;
}

@media screen and (max-width: 1024px) {

    .modal .modal-dialog {
        margin: 10px auto;
    }

    .modal .pergunta-modal {
        width: 95%;
        font-size: 25px;
    }

    .passo-2 ._form {
        width: 90%;
    }

    .passo-2 ._button-wrapper {
        width: 50%;
    }

    .passo-2 ._button-wrapper a,
    .passo-2 ._button-wrapper button {
        font-size: 13px;
    }
}

/*------------------------------------*\
   #MODAL
\*------------------------------------*/

.modal .passo-2 .pergunta-modal {
    font-size: 36px;
    margin-bottom: 25px;
    border-bottom: 2px solid #ccc;
    max-width: 50%;
}

.modal #messenger {
    /*background: #5d83d2;*/
    /*border-radius: 50px !important;*/
    /*width: 80% !important;*/
    background: none;
    padding: 0;
}

.ou {
    color: #9a9999;
    font-size: 20px;
    font-weight: 700;
}

span.serie-gratuita {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    color: #c0bfbf;
    font-weight: bold;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #CCC;
    font-size: 19px;
    letter-spacing: 1px;
}

input::-moz-placeholder { /* Firefox 19+ */
    color: #CCC;
    font-size: 19px;
    letter-spacing: 1px;
}

input:-ms-input-placeholder { /* IE 10+ */
    color: #CCC;
    font-size: 19px;
    letter-spacing: 1px;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #CCC;
    font-size: 19px;
    letter-spacing: 1px;
}

.voce-vai {
    max-width: 67%;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 7px 0;
    font-size: 16px;
    color: #676767;
}

/*------------------------------------*\
   #CONFIRMAR
\*------------------------------------*/

.confirm #inscricao-header h2 {
    font-size: 110px;
}

.confirm .etapas ul li:before {
    background-size: contain !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    height: 70px !important;
}

.confirm .etapas ul .cadastro:before {
    width: 75px;
}

.confirm .etapas ul .confirmacao:before {
    width: 105px;
}

.confirm .etapas ul .vaga-garant:before {
    width: 90px;
}

.confirm .etapas ul li {
    font-size: 28px;
}

.confirm .scroll-2 .etapas ul li:after {
    width: 130px;
    height: 130px;
    top: -10px;
    left: 50%;
    margin-left: -65px;
}

.confirm .scroll-2 {
    padding-bottom: 0;
}

.confirm .scroll-2 .etapas {
    height: 250px;
}

.confirm .scroll-4 {
    padding-top: 40px;
}

.final .scroll-4 .container button,
.confirm #messenger {
    font-size: 19px;
    font-weight: 700;
    width: 290px;
    line-height: 60px;
}

.confirm .scroll-5 {
    padding-top: 0;
}

.final #confirmar-header h2 {
    font-size: 90px;
}

.final #confirmar-header p {
    font-size: 28px;
}

.final .scroll-4 .container p {
    font-size: 23px;
    max-width: 760px;
}

.final .scroll-4 .container a,
.confirmar-share-button,
.fc-share-button-b {
    background: #43B44A;
    border-radius: 9px;
    font-family: 'Open Sans';
    font-size: 26px;
    letter-spacing: -.49px;
    border: none;
    color: #fff;
    width: 352px;
    height: 67px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 700;
    width: 290px;
    padding: 20px 38px;
    margin-top: 30px;
    display: inline-block;
}

.final .scroll-4 .container a:hover,
.confirmar-share-button:hover,
.fc-share-button-b:hover  {
    background: #50cc58;
    text-decoration: none;
    color: #ffffff !important;
}

.etapas-confirmado {
    margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
    #confirmar-headline {
        margin-top: 50px !important;
        margin-bottom: 30px !important;
    }

    .confirmar-sub-headline {
        margin-bottom: 30px;
    }

    #confirmar-header {
        height: 600px;
    }
}

/*------------------------------------*\
   #LOGO
\*------------------------------------*/

.bem-bolado-logo-footer {
    width: 340px;
    height: auto;
}

@media screen and (max-width: 1024px) {
    .confirm #inscricao-header h2,
    .final #confirmar-header h2 {
        font-size: 70px;
    }

    .confirm .scroll-2 .etapas {
        height: auto;
    }

    .modal #messenger {
        padding-top: 0 !important;
        margin-top: 0 !important;
    }

    .modal #messenger img {
        width: 100%;
    }
}