
body{font-family: 'Open Sans', sans-serif; background:url(../img/bg.jpg);}
.navbar-default{background: #fff; border: none; border-top: 7px solid #0061aa; height: 111px; overflow: hidden;   	}
.customize-support .navbar-default{margin-top: 32px;}

.navbar-default .container{background: url(../img/separador.png) center 70px no-repeat; padding:10px 0 20px 0px;}
.navbar-default .container a{transition:all 0.5s;}
.navbar-default .container a:hover{opacity: 0.7;}
.navbar-default .logo{margin: 20px 0 10px 0px; display: block;}
.navbar-default .logo, .interna .navbar-default h3{width:104px; height: 57px;}
.navbar-default .logo a, .interna .navbar-default h3 a{
	display: block;
	width:104px;
	height: 57px;
	background: url(../img/icones-e-logos.png) -7px -8px;
	overflow: hidden;
	text-indent: -10000px; 
}

.navbar-default .busca{margin-top: 43px;}
.box-buscar:hover .busca input[type="text"]{opacity:10;}
.navbar-default .busca input[type="text"]{border: 2px solid #cacaca; border-radius: 4px; opacity:0; transition: all 0.5s;}
.navbar-default .busca input:focus[type="text"]{opacity:10;}

.navbar-default .bt-buscar{
	background: url(../img/lupa.jpg) no-repeat;
	color: #fff;
	border: none;
	margin-left: 10px!important;
	border-radius: 4px!important;
	width:34px;
	height:34px;
	text-indent:-1000px;
	overflow:hidden;

}

.redes-sociais {padding: 0px; margin:20px 0px 0px 0px; text-align: center; }
.redes-sociais li {padding: 0px; margin: 0px; list-style-type: none; display: inline-block; }
.redes-sociais li a{
	width: 40px;
	height: 40px;
	display: block;
	background: url(../img/icones-e-logos.png) no-repeat;
	margin: 0 4px;
	text-indent: -1000px;
	overflow: hidden;
	}
.redes-sociais li.facebook a{background-position: 0px 0px;}
.redes-sociais li.twitter a{background-position: -53px 0px;}
.redes-sociais li.google a{background-position: -104px 0px;}
.redes-sociais li.linkedin a{background-position: -157px 0px;}

.container{max-width:960px;}

.conteudo-home {margin:135px auto 0 auto; max-width: 960px; text-align: center; padding-bottom: 40px;}
.not-2{margin:-33px auto 0 auto;}

.titulo{
	font-size: 32px;
	font-weight: bold;
	color:#094f91;
	text-align: center;
	}

.bxslider .row{padding:0px; margin:0px; height:342px;}

.bxslider .caption{background:#fff; height:342px;}
.bxslider .caption h2{width:90%; margin:20px auto; font-size:26px; font-weight:bold;}
.bxslider .caption .resumo{width:90%; font-size:14px; margin:10px auto; line-height:25px;}

.caption a{transition:all 0.5s;}
.caption a:hover{text-decoration:none; color:#09589c;}

.bx-wrapper{position:relative;}
.bx-controls.bx-has-controls-direction.bx-has-pager {
    position: absolute;
    background: #fff;
    bottom: 0px;
    z-index: 999;
	right:0px;
	padding:5px;
	width:80px;
	height:45px;
}

.bx-default-pager{display:none;}

.bx-controls-direction a{
	height:40px;
	background:url(../img/setas-slider.jpg)top left no-repeat;
	display:inline-block;
	text-indent:-1000px;
	overflow:hidden;
	width:30px;
	}

.bx-controls-direction a.bx-next{background-position:-40px 0px;}

.titulo a{
	background:url(../img/logo-catho.png) top center no-repeat;
	width:280px;
	height:50px;
	text-indent:-1000px;
	overflow:hidden;
	display:inline-block;
	background-size:100%;
	}
.conteudo-home img{width: 100%; height: auto;}

img.alignleft.wp-image-1089.size-thumbnail {
    width: auto;
    margin-right: 10px;
    float: left;
}

.alm-listing li{padding: 0px!important;}

.menu-container{text-align: center; padding:10px 0;  position:relative; top:120px;}
.menu-desktop ul.category-list, #menu-menu-principal-1{width:960px; margin:0 auto;  padding: 0px; 	text-align: left; text-align:center;	}
.menu-desktop ul.category-list li{
	display: inline-block;
	margin: 0 -2px;
	text-transform: uppercase;
	padding: 0px 55px;
	border-bottom:5px solid #000;
	line-height:40px;
	}

.menu-desktop ul.category-list li.boas{border-color:#7376f0;}
.menu-desktop ul.category-list li.boas:hover {background:#B0B1FC}

.category-boas-relacoes .menu-desktop ul.category-list li.boas{background:#B0B1FC}
.category-boas-relacoes .menu-desktop ul.category-list li.boas a{color:#fff!important;}

.menu-desktop ul.category-list li, .menu-desktop ul.category-list li a{transition:all 0.5s;}
.menu-desktop ul.category-list li:hover a{color:#fff!important; text-decoration:none;}

.menu-desktop ul.category-list li.carreira {border-color:#2ee7be;}
.menu-desktop ul.category-list li.carreira:hover {background:#7EEBD1}

.category-carreira .menu-desktop ul.category-list li.carreira{background:#7EEBD1}
.category-carreira .menu-desktop ul.category-list li.carreira a{color:#fff!important;}

.menu-desktop ul.category-list li.emprendedorismo{border-color:#aa70d0;}
.category-emprendedorismo .menu-desktop ul.category-list li.emprendedorismo,
.menu-desktop ul.category-list li.emprendedorismo:hover{background:#CDA3E9}
.category-emprendedorismo .menu-desktop ul.category-list li.emprendedorismo a{color:#fff!important;}

.menu-desktop ul.category-list li.novo{border-color:#ff916f;}
.category-novo-emprego .menu-desktop ul.category-list li.novo,
.menu-desktop ul.category-list li.novo:hover{background:#FAA990}
.category-novo-emprego .menu-desktop ul.category-list li.novo a{color:#fff!important;}

.menu-desktop ul.category-list li.networking{border-color:#50a1e9;}
.category-networking .menu-desktop ul.category-list li.networking,
.menu-desktop ul.category-list li.networking:hover{background:#76BDFC}
.category-networking .menu-desktop ul.category-list li.networking a{color:#fff!important;}

.menu-desktop ul.category-list li:first-child{}
.menu-desktop ul.category-list li a, #menu-menu-principal-1 li a{color: #808080;  padding:3px 5px; font-size:14px; font-weight:normal;}

.sub-menu{display:none; position:absolute; background:#1f2243; padding:5px 20px 20px 20px; }
#menu-menu-principal .sub-menu li, #menu-menu-principal-1 .sub-menu li{padding:10px 0px; border-bottom:1px solid #282c57; display:block;}
#menu-menu-principal .sub-menu li:last-child, #menu-menu-principal-1 .sub-menu li:last-child{border:none;}
#menu-menu-principal .sub-menu li a{color:#fff!important; font-size:14px; }
.menu-item-has-children{position:relative; 	background:url(../img/seta.png) right 20px center no-repeat; }
.menu-item-has-children:hover .sub-menu{position:absolute; display:block;  width:325px;    border-top: 10px #FED30E solid; }

.quem-somos{
	position: absolute;
    top: 0px;
    right: 11%;
	}

.category-boas-relacoes #menu-menu-principal .noticias a{padding:12px 9px;}

#menu-menu-principal .noticias a{background:#73a537;}
.category-noticias #menu-menu-principal  noticias a{padding:12px 9px;}

#menu-menu-principal .entrevistas a{background:#37a59f;}
.category-entrevistas #menu-menu-principal .entrevistas a{padding:12px 9px;}

#menu-menu-principal .videos a{background:#4885b3;}
.category-videos #menu-menu-principal .videos a{padding:12px 9px;}


.category-networking #menu-menu-principal .networking a{padding:12px 9px;}


.bt-fechar{display: none;}

.box-buscar{position: absolute;  top: -7px;  right: 149px;}



.conteudo-home .col-md-1,
.conteudo-home .col-md-2,
.conteudo-home .col-md-3,
.conteudo-home .col-md-4,
.conteudo-home .col-md-5,
.conteudo-home .col-md-6,
.conteudo-home .col-md-7,
.conteudo-home .col-md-8,
.conteudo-home .col-md-9,
.conteudo-home .col-md-10,
.conteudo-home .col-md-11,
.conteudo-home .col-md-12
{padding:2px; transition: all 0.5s;}

.conteudo-home .col-md-1:hover,
.conteudo-home .col-md-2:hover,
.conteudo-home .col-md-3:hover,
.conteudo-home .col-md-4:hover,
.conteudo-home .col-md-5:hover,
.conteudo-home .col-md-6:hover,
.conteudo-home .col-md-7:hover,
.conteudo-home .col-md-8:hover,
.conteudo-home .col-md-9:hover,
.conteudo-home .col-md-10:hover,
.conteudo-home .col-md-11:hover,
.conteudo-home .col-md-12:hover
{}

.col-md-12{}

.noticias-secundarias .caption{
	background: #fff;
	height: 300px;
	width: 90%;
    margin: 0 auto;
    top: -15px;
    position: relative;
	}
.conteudo-home .noticias-secundarias {padding: 0px 15px; margin-bottom: 40px; height:476px;}

.mais-lidas .noticias-secundarias { margin-bottom:0px;}

.mais-lidas .noticias-secundarias img{width:100%; height:auto;}
.mais-lidas{background: url(../img/bg-2.jpg); border-top:1px solid #fff; padding:20px 0;}

.noticias-secundarias .caption h2{margin: 10px 0 0 0px;     width: 90%;   margin: 0 auto;   padding-top: 60px;}
.noticias-secundarias .caption .resumo{ width:90%; margin:20px auto; font-family:Georgia;}
.noticias-secundarias .caption h2 a{font-size: 21px;}

.noticias-secundarias img, .coluna12 img{transition: all 0.5s; border:2px solid #fff; border-radius:1px;}

.mais-lidas .noticias-secundarias .caption{background:#fff; height: auto; border-bottom: none; width:95%; border-radius:1px; padding:20px 0; }

.mais-lidas .noticias-secundarias .caption h3{
	margin-bottom:10px;
	line-height:20px;
	width: 90%;
    margin: 0 auto;
}
.mais-lidas .noticias-secundarias .caption h3 a{
	font-size:16px!important;
	display:block;
	margin-top:10px;
}

.mais-lidas .noticias-secundarias .caption .data{
	margin-top:0px;
}

.mais-lidas .post-categories{
	margin-top:10px;
}

.entry-title{padding-left:20px; margin-left:20px; color:#202344; font-weight:normal; border-left:2px solid #202344; }

.conteudo-home .col-md-12{max-height: 400px;}

.row { position: relative;}

.coluna12{margin:0px;}

.caption{ color:#fff; text-align: left; }
.caption a{color:#333335; display: block; font-size: 32px; font-weight: bold;}
.caption .resumo{display: block; font-size: 16px; color: #5A5252; margin-top: 25px;}
.caption .autor{font-size: 12px;}
.caption .autor span{
	display: inline-block;
	width: 24px;
	border-radius: 50%;
	height: 24px;
	background: #fff;
	overflow: hidden;
	text-indent: -1000px;
	position: relative;
    top: 7px;
    margin-right: 5px;
}


.coluna12{background: #fff;}

.coluna12 .caption {
    position: inherit;
    top: 0px;
    left: inherit;
    right: 0px;
    color: #094f91;
    text-align: left;
    padding: 0px 0px 0px 30px;
    width: 100%;
	height: 374px;
}

.coluna12 .caption h2{margin:0px;}

.data{
	margin-top: 20px;
	display: block;
	font-size:12px;
	background:url(../img/data.jpg) no-repeat 9px 5px #c7c5c5;
	color:#fff;
	padding: 5px 32px;
    position: absolute;
    width: 100%;
    bottom: 0px;
	text-transform:uppercase;
	}

.data a{display:inline-block; font-size:12px; color: #1f2243; text-decoration:underline; }
.data a.Artigos,
.data a.Entrevistas,
.data a.Vídeos,
.data a.Categorias
{display:none;}

.post-categories{margin:0px; padding:15px 0 0 0px;}
.noticias-secundarias .post-categories{position:absolute; }
.post-categories li{
	display: inline-block;
	font-size: 14px;
	padding:0px 5px 0px 5px !important;
	margin:0 4px 4px 0!important;
	color:#9e9ea1;
	}

.post-categories li a{font-size: 12px; color: #9e9ea1; font-weight: normal; text-transform:uppercase; }
.noticias-secundarias .post-categories li a{font-size:10px;}

.post-categories li.Cidadania,
.post-categories li.Qualidade,
.post-categories li.Segurança,
.post-categories li.Tecnologia,
.post-categories li.Toxicologia,
.post-categories li.Saúde,
.post-categories li.Regulamentação,
.post-categories li.Opinião,
.post-categories li.Destaque
{display:none;}

.post-categories-label{padding:0px; margin:0px;     position: absolute; width: 100%; top: -8px;}
.post-categories-label li{width:100%; display:inline-block; height:5px; overflow:hidden; text-indent:-1000px; }
.post-categories-label li.Destaque{display:none;}
.qtd-2 li, .noticias-secundarias .qtd-2 li{width:50%;}
.qtd-3 li, .noticias-secundarias .qtd-3 li{width:33.3%;}
.qtd-4 li, .noticias-secundarias .qtd-4 li{width:25%;}
.qtd-5 li, .noticias-secundarias .qtd-5 li{width:20%;}

.caption-img .qtd-2 li{width:50%;}
.caption-img .qtd-3 li{width:33.3%;}
.caption-img .qtd-4 li{width:25%;}
.caption-img .qtd-5 li{width:20%;}

.post-categories-label li.Carreira{background:#3de6be;}
.post-categories-label li.Educação {background:#7376f0;}
.post-categories-label li.Serviço{background:#54a2e6;}
.post-categories-label li.Vida{background:#fd9173;}
.post-categories-label li.Bem-estar{background:#aa70d0;}


#ajax-load-more .post-categories-label {top:1px;}

.alm-btn-wrap {height: 145px; padding: 50px 10px 30px !important; background: none; max-width: 1196px; margin: 0 auto;}
.alm-btn-wrap #load-more
{margin: 0 auto;
 display: block;
 background:none;
 border:1px solid #e5be00;
 color: #e5be00;
 font-size: 14px;
 padding: 0px 40px 20px 40px;
 transition: all 0.5s;
 height: 42px;
 border-radius:4px;
 border-radius:0px;
}

.alm-btn-wrap #load-more:hover{background: #000;   color: #fff; border-color: #000;  }



.single-post .imagem{padding-bottom: 20px; background: url(../img/separador.png) center bottom no-repeat; }
.single-post article{max-width: 820px; width: 80%; margin: 0 auto; text-align: left; padding-top: 0px; font-family: 'Montserrat', sans-serif;}
.single-post article h1{color: #0b589e; font-weight: bold; font-size: 45px; margin: 0px auto; width: 80%}
.single-post article h2{margin:5px auto 30px auto ; color: #626711; font-size: 20px; font-weight: normal; width: 80%}
.single-post article p, .single-post article ol{font-size: 21px; margin: 30px auto 30px auto; line-height: 30px; width: 80%; font-family: Georgia; font-weight: normal; line-height: 44px; }
.single-post article iframe {width: 120%; border-radius: 10px; margin-left: -10%}


.single-post article ul
	{
	width: 80%;
    margin: 0 auto;
    padding: 0px 0px 0px 17px;
	}

.single-post article ul li{
	font-size:21px;
	font-family:'Open Sans', sans-serif;
}

.single-post article ul li.data-post{
	font-size:12px;
	font-weight:600;
	background:url(../img/data-post.jpg) no-repeat ;
	padding-left: 22px!important;
	color:#878787;
	}

.single-post a.newsl-fechar img{width: :auto!important; display: none;}
.single-post .newsl p{font-family: Open Sans!important; font-size: 15px; margin: 0px auto;}
.single-post  .newsl {
    padding: 20px 0px;
    margin: 46px 0px 30px 0px;
    top: 0px;
}

.single-post  .newsl h2{margin: 0 auto; text-transform: uppercase; color: #333;}

.single-post  .newsl input[type="submit"]{line-height: 42px;}

.single-post article ul li a, .single-post .ultimas ul li a {color:#fff;}
.single-post article header ul li{padding:0px 15px 4px 15px!important}
.single-post article header ul li.Educação, .single-post .ultimas li.Educação{background:#747aed;}
.single-post article header ul li.Carreira, .single-post .ultimas li.Carreira{background:#3de6be;}
.single-post article header ul li.Bem-estar, .single-post .ultimas li.Bem-estar{background:#a973ce;}
.single-post article header ul li.Vida, .single-post .ultimas li.Vida{background:#fd9173;}
.single-post article header ul li.Serviço, .single-post .ultimas li.Serviço{background:#54a2e6;}

.single-post article header ul{width:100%;}

.single-post .cadastro{max-width: 775px; width: 90%; background: #fff; margin: 0 auto; min-height: 161px; font-family: Open Sans;}
.single-post .cadastro label{font-size: 12px;}
.single-post .cadastro .input-group{margin: 0 auto; padding-top: 35px; width: 280px; text-align: left;}
.single-post .cadastro .input-group input{width: 278px; border: 2px solid #cacaca; border-radius: 4px!important; float: none; display: block;}
.single-post .cadastro .btn-group{text-align: right; width: 278px; margin: 10px auto;}
.single-post .cadastro .btn-group button, .single-post .cadastro .btn-group .btn-default {float: right; background: #fc284d; color: #fff; width: 120px; font-size: 11px; border: none;}


.alm-btn-wrap{clear: both; padding: 30px 0;}


.coluna12{margin-bottom:40px!important;}

.imagem{position: relative;}
.caption-img{position: absolute; bottom: 9px; text-align:center; width:100%}
.imagem h1{
    background: none;
    width: 100%;
    color: #fff;
	font-size:25px;
	font-weight:bold;
	font-family:'Open Sans', sans-serif;
	color:#646464;
	line-height:35px;
}

.imagem h1 span{
	width:95%;
	display:block;
	margin:0 auto;
	background:#fff;
	padding:20px 100px;
}

.single .caption-img .post-categories-label{width:95%; margin:0 auto; position:relative; top:31px;}

.single-post .post-categories{margin: 0px 0px 20px 0px; text-align: center; position:inherit;}
.single-post .data{margin: 0px; padding: 0px 0 20px  0px; text-align: center;}
.single-post .ultimas{     background: url(../img/bg-2.jpg);   border-top: 1px solid #fff; padding: 20px 0;}
.single-post .ultimas h2{font-size:16px; text-align:left; font-weight:bold; color:#333335; width:80%;}
.single-post .ultimas h2 a{color:#333335;}

.single-post .ultimas .container{width:620px; margin:0 auto;	}

.single-post .ultimas .post-categories{text-align:left; margin:30px 0 0 0;}
.single-post .ultimas .post-categories li{margin:2px 4px 0px 0px;}

.single-post .ultimas .media{position:relative;  padding: 30px 0px; border-bottom:2px solid #afafaf; margin:0px;}
.single-post .ultimas .media:last-child{border:none;}
.single-post .ultimas .media .data{
position:absolute; top:30px; right:0px; text-align:right;
background: none;
    width: auto;
    color: #7b7b7b;
}
.single-post .ultimas .media img{width:140px; height:94px;}

.single-post .ultimas .titulo-ultimas{text-align:center; font-size:20px; text-transform:uppercase; width:100%;}

.search .media{position:relative; border-bottom:2px solid #b8b8b8; padding:30px 65px;}
.search .media img{width:235px; height:158px;}
.search .media h2{font-size:20px; margin:0px!important; text-align:left; font-weight:bold; color:#333335; width:80%;}
.search .media h2 a{color:#333335;}
.search .media .data{position:absolute; top:30px; width:auto; background:none; color:#7b7b7b; right:65px; text-align:right; padding:0px; margin:0px;}
.search .media .resumo{text-align:left; width:80%; display:block;}
.search .media .post-categories{text-align:left; margin:30px 0 0 0;}
.search .media .post-categories li{margin:2px 4px 0px 0px;}
.search .container{max-width:960px;	}

/*Resultados de busca */
.search .col-md-6{text-align: left; max-height: inherit; padding:15px 10px;}
.search .conteudo-home h2{margin: 5px 0;}


.mais-lidas h3{font-weight:bold; font-size:20px; margin:0px 0px 20px 0px; text-align:center;}

footer{text-align: center; background: url(../img/bg-footer.jpg); color:#fff; padding: 60px 0;}
footer h3{font-weight:bold; font-size:19px;}
footer p{font-size:11px;}
footer input, .newsl input[type="email"]{width:180px; line-height:46px; padding:0px 20px; display:inline-block; border:0px; color:#333335; }
footer input[type="submit"], .newsl input[type="submit"]{
	display:inline-block;
	line-height:44px;
	background:#fbc635;
	border:0px;
	color:#333335;
	font-weight:bold;
	width:102px;
	margin-left:-5px;
	}

footer input[type="submit"]{
	line-height:46px;
}

.newsl{
	padding:30px;
	position: relative;
	top: -40px;
	text-align: center;
	width: 100%;
	background: url(../img/bg-2.jpg);
	border-top:1px solid #fff;
	border-bottom	:1px solid #fff;
	}
.newsl p{font-size:16px;}
.newsl input[type="submit"]{width:138px;}
.newsl input[type="email"]{width:240px;}

a.newsl-fechar {
    position: relative;
    top: -95px;
    left: 465px;
}

.contato a{color:#fff;}

footer .newsl{
	width:71px;
	height:71px;
	padding:0px;
	position:inherit;
	background:inherit;
	border-top:inherit;
	border-bottom:inherit;
	top:0px;
}

footer .newsl h4{padding:0px; margin:0px;}

footer .redes-sociais{
	text-align:center;
}

.contato{text-align:left;}

.page article{
	width: 750px;
    margin: 0 auto;
    text-align: left;
}

.aligncenter{text-align:center; margin:0 auto;}

#menu-menu-principal li.link-quem-somos, #menu-menu-principal-1 li.link-quem-somos{display:none;}
.menu-mobile{display:none;}

@media (max-width: 970px) {
.menu-desktop {display:none;}
.navbar-default .col-md-2 .redes-sociais {display: none;}
.navbar-default .logo{margin: 20px auto;}
.navbar-default .container {
    background: url(../img/separador.png) center 148px no-repeat;
    padding: 0px;
}

.page article{width:85%!important;}

#menu-menu-principal li.link-quem-somos, #menu-menu-principal-1 li.link-quem-somos{display:;}

footer input[type="submit"]{
	margin-top:10px;
}

.row{margin:0px;}

.noticias-secundarias .caption h2{width:100%; padding-top:10px;}

.menu-mobile{
	display: block;
    position: fixed!important;
    top: 37px;
    left: 20px;
    background:url(../img/menu.png)top center no-repeat;
	background-size:79%;
    width: 40px;
    height: 40px;
	}

.menu-mobile.open{
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position:fixed;
	background:rgba(0, 0, 0, 0.52);
}

.menu-mobile ul{display:none;}
.menu-mobile.open ul{display:block; list-style:none; padding:0px; margin:0px 0px 0 0;}

.menu-mobile.open ul li.boas{background:#7376f0;}
.menu-mobile.open ul li.carreira{background:#2ee7be;}
.menu-mobile.open ul li.emprendedorismo{background:#aa70d0;}
.menu-mobile.open ul li.novo{background:#ff916f;}
.menu-mobile.open ul li.networking{background:#50a1e9;}

.menu-mobile.open ul li a{font-size:18px; line-height:70px; display:block; color:#fff;}

.menu-container{padding:4px 0px;     position: relative; z-index: 9999999;}

.conteudo-home{margin-top: 115px; width:95%;}

.box-redes-sociais{display: none;}

#menu-menu-principal-1{
	width: 40px;
    height: 36px;
    top: 24px;
    position: fixed;
    display: block;
    left: 10px;
    background: url(../img/menu.png)top 5px center no-repeat;
    background-size:80%;
	border-radius: 3px;
    z-index: 999999999;

}
#menu-menu-principal-1 li{display: none; }

#menu-menu-principal-1.open{
	width: 100%;
	background: rgba(0, 0, 0, 0.84);
	height: 100%;
	top: 0px!important;
	left: 0px;
	border-radius: 0px;
	bottom: 0px;
	padding-top: 20px!important;
	position: fixed;
}
#menu-menu-principal-1.open li{display: block; line-height: 55px;}
#menu-menu-principal-1.open li a{color: #fff;}
#menu-menu-principal-1.open~.bt-fechar{display: block;}

#menu-menu-principal-1 li{padding-left:0px;}
#menu-menu-principal-1 li:first-child{line-height:30px;}

.bt-fechar{position: fixed; right: 10px; font-size: 20px; font-weight: bold;  z-index: 999999999999999;     top: 10px; right: 20px;  color: #fff;}

#menu-menu-principal-1.open li ul li{line-height:20px; border:none;}

#menu-menu-principal-1 li:first-child:focus ~ #menu-principal{}

.sub-menu {
    display: block;
    position: inherit;
    background: none;
    padding: 0px;
}

.sub-menu li{padding:0px;}

.menu-item-has-children:hover .sub-menu {
    position: inherit;
    display: block;
    width: inherit;
    border-top: none;
}

.titulo{font-size: 25px;}
.box-buscar {
    position: absolute;
    top: 20px;
    right: 20px;
	background: url(../img/lupa.jpg) right top no-repeat;
    color: #fff;
    border: none;
    margin-left: 10px!important;
    border-radius: 4px!important;
    width: 34px;
    height: 34px;
    text-indent: -1000px;
    overflow: hidden;
}

.box-buscar:hover{height:auto; width:auto;}

.navbar-default .busca{margin:0px 20px 0 0;}

.navbar-default .bt-buscar {}
.navbar-default .bt-buscar .input-group-btn{display:none;}

.navbar-default{margin-bottom:0px!important; height:92px;}
.newsl input[type="email"] {   width: 200px;}
.newsl input[type="submit"] {   width: 113px;}

.quem-somos{display:none;}
.titulo a{background: url(../img/logo-catho.png) top left 0px no-repeat; background-size:78%; width:235px; margin-left:65px;}

.bx-wrapper{display:;}
.bxslider .caption, .bxslider .row{height:auto;}
.bxslider .caption a, .bxslider .caption h2, .bxslider .caption .resumo{width:100%;}

.bxslider .post-categories-label{top:11px;}
.bxslider .post-categories {top:11px; width:100%;}

.bxslider .caption .resumo{padding-bottom:0px;}
.bx-controls.bx-has-controls-direction.bx-has-pager{bottom:22px;}

.not-2 {
    margin: 0px auto 0 auto!important;
}

.newsl{display:none;}

.caption{bottom: 20px; left: 0px; display: block; width: 100%; padding: 10px!important;}

.single-post article{width: 100%}
.single-post article h1{font-size: 35px;}

.single-post article iframe{width: 100%; margin:0 auto; height: 211px; max-width:100%; overflow:hidden;  border-radius: 0px;}

.single-post .cadastro{width: 100%;}
.caption a, .caption .resumo, .caption .autor, .data{width: 90%; margin: 0 auto;  display: block;}
.data{margin-top: 10px; font-size: 12px; width:100%;}

.data a {
    display: inline-block;
    font-size: 12px!important;
    color: #1f2243;
    text-decoration: underline;
	width:auto;
}

.post-categories {width: 100%; margin: 0px auto 0 auto;}
.post-categories a{width: 100%;}
.home .post-categories, .category .post-categories {width: 90%;}



.noticias-secundarias .caption{height: inherit; padding-bottom: 20px!important; border:none; width:93%; padding:10px 0 20px 0px!important; }

.conteudo-home .col-md-1, .conteudo-home .col-md-2, .conteudo-home .col-md-3, .conteudo-home .col-md-4, .conteudo-home .col-md-5, .conteudo-home .col-md-6, .conteudo-home .col-md-7, .conteudo-home .col-md-8, .conteudo-home .col-md-9, .conteudo-home .col-md-10, .conteudo-home .col-md-11, .conteudo-home .col-md-12
{padding: 0px;}

.caption a{font-size: 22px;}
.caption .resumo{font-size: 12px; padding-bottom:20px;}

.col-md-12 img{width: auto; max-height: 240px; }

.single-post article p{font-size: 17px!important; margin: 20px auto 20px auto; line-height: 30px; width: 85%; font-family: Georgia; font-weight: normal; line-height: 39px; }

.single-post article ul{width:85%;}
.single-post article header ul {width:100%; padding:0px;}
.single-post article ul li{
	font-size:17px;
}

.single-post .ultimas{width:100%;}

.single-post .data{width:100%;}

.imagem h1{font-size:20px; margin-top:-4px}
.imagem h1 span{width:95%; padding: 20px 0px; text-align: center; line-height: 25px;}
.single-post .imagem{background:none; padding-bottom:0px;}
.single-post article ul li.data-post{display:block; background:none;}
.single .caption-img .post-categories-label{top:0px;}

.single-post .media-left{width:100%; display:block; padding:0px; margin:0px;}
.single-post .ultimas .media img{width:100%; height:auto;}
.single-post .ultimas .media .data{position:inherit; text-align:center; display:none;}
.single-post .ultimas h2 {text-align:center; width:100%; padding-top:20px;}
.single-post .ultimas .post-categories{text-align:center; margin-top:0px;}

.entry-title{padding:0px; text-align:center; border:none; display:block;}
.archive #menu-menu-principal-1{}

.search .media-middle{display:block}
.search .media-middle img{width:100%; height:auto;}
.search .media{padding:10px 0px; width:90%; margin:0 auto;}
.search .media .data{display:none;}
article div {max-width: 100%;}

.coluna12 .caption{height:inherit;}
.post-categories{position:inherit!important;}
.conteudo-home .noticias-secundarias{height:inherit;}

.conteudo-home .mais-lidas .noticias-secundarias{height:inherit;}

.post-categories-label{left:0px;}
.single-post .ultimas .container{width:100%;}

.caption-img {position:relative;}

footer{padding:20px 0;}
footer input{width:140px;}
footer input[type="submit"]{width:100px;}
	}


	@media (max-width: 321px) {
		.titulo a{background: url(../img/logo-catho.png) top 2px left 0px no-repeat;     background-size: 65%;}
		.newsl input[type="email"] {   width: 153px; font-size:14px;}
		.newsl input[type="submit"] {   width: 100px; font-size:14px;}
	}
