button{
  outline: none!important;
}


.modal{
  .modal-dialog{
    margin: 110px auto;
  }
  .modal-header{
    background: url(assets/image/vectors/wave-3.svg) 0PX -30px no-repeat;
    border: none;
  }
  .progress-bar-danger{
    background-color: $green;
  }
  .pergunta-modal{
    font-family: 'Amatic SC';
    text-align: center;
    font-size: 35px;
    display: block;
    width: 80%;
    margin: 20px auto;
    font-weight: bold;
  }

.list-group{
  font-family: 'Open Sans';
  font-size:16px;
  line-height: 40px;
  font-weight: bold;
}

.cadastre-se{
  display: block;
  text-align: center;
  margin:30px 0 0 10px;
  font-family: 'Open Sans';
  font-weight: bold;
  color: $dark-grey;
  }

  .input-group{
    max-width: 80%;
    margin: 15px auto;
  }

  #_form_1_submit, #messenger{
    width: 195px!important;
    background: #43B44A;
    margin: 0 auto;
    display: block;
    float: none;
    color: #fff;
    border: none;
    height: 50px;
    border-radius: 5px;
    margin-top: 20px;
  }

  #messenger{
    background: #4367b1;
    text-align: center;
    padding-top: 15px;
  }

input{
  width: 100%;
  line-height: 34px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-indent: 10px;
  margin-bottom: 25px;
  }
}

.passo-2{
  .list-group-item{
    text-align: center;
    border: none;
  }

._form{
  width: 60%;
  margin: 30px auto;
  text-align: left;
  color:#565656;
}

#recipient-name{
  border: none;
  box-shadow: none;
  text-align: center;
}

.ou{
  display: block;
  text-align: center;
  margin: 20px;
}

}
