.scroll-1{
  background: url('assets/image/foto-fundo-4.jpg');
  height: 771px;
  background-size: cover;
  border-bottom: 2px solid $orange;
  font-family: 'Open Sans', cursive;
  text-align: left;
  .row{
    top: 50px;
    position: relative;
    margin: 0px;
  }
  .logo{
    display: block;
    margin: 0 auto;
    text-align: center;
    span{
      background: url('assets/image/vectors/logo.svg');
      background-size: 100%;
      display: block;
      height: 529px;
      width: 399px;
      text-indent: -1000px;
      overflow: hidden;
    }
  }
  .chamada{
    color:#fff;
    font-size: 57px;
    letter-spacing: 0;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.66);
    width: 780px;
    margin: 80px 0px 30px 50px;
    line-height: 80px;
    strong{
      font-weight: bold;
    }
  }

  .chamada-2{
    background: rgba(0,0,0,0.38);
    border: 5px solid #43B44A;
    border-radius: 10px;
    font-size: 26px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 10px;
    display: inline-block;
    margin: 0px 0px 30px 50px;
    width: 760px;
    text-align: center;
  }

  .text-button{
    display: block;
    h4{
      font-size: 25px;
      color: rgba(255,255,255,0.80);
      letter-spacing: 0;
      margin-left: 50px;
      margin-bottom: 10px;
    }
  }

  .call-to-action{
    background: $green;
    box-shadow: 0 10px 18px 5px rgba(38,52,78,0.19);
    border-radius: 9px;
    font-family: 'Open Sans';
    font-size: 26px;
    letter-spacing: -0.49px;
    border: none;
    color: #fff;
    width: 352px;
    height: 89px;
    margin: 0px 0px 10px 50px;
    transition: all 0.5s;
    &:hover{
      background:#50cc58;

    }
  }
}

.scroll-2{
    position: relative;
    padding: 40px 0;
    text-align: center;
    &:after {
    content: "";
    background: url('assets/image/vectors/icones-bg.svg');
    opacity: .025;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: 190px;
  }
  .chamada{
    width: 516px;
    height: 235px;
    font-family: 'Amatic SC';
    font-weight: bold;
    margin: 0 auto;
    font-size: 60px;
    color: $dark-grey;
    letter-spacing: 0;
    position: relative;
    padding-bottom: 300px;
    &:after, &:before{
      content: "";
      background: url('assets/image/vectors/line.svg') no-repeat;
      width: 90px;
      height: 30px;
      display: block;
      position: relative;
    }
    &:before{
      left: -40px;
    }
    &:after{
      right: -40px;
      position: absolute;
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);
    }
  }
  .chamada-2{
    font-family: 'Open Sans';
    font-size: 19px;
    color: $dark-grey;
    letter-spacing: -0.2px;
    line-height: 34px;
    width: 730px;
    margin: 0 auto;

  }

  .etapas{
    background-image: linear-gradient(0deg, #FFF0D8 0%, #FFFFFF 30%);
    box-shadow: 0 -2px 29px 1px rgba(48,61,110,0.13);
    border-radius: 40px;
    width: 957px;
    height: 380px;
    margin:40px auto 0 auto;
    z-index: 99;
    position: relative;
    ul{
      padding: 0px;
      margin: 0px;
      position: relative;
      top: 100px;
      li{
        list-style-type: none;
        display: inline-block;
        width: 180px;
        vertical-align: top;
        position: relative;
        opacity: 0.9;
        font-family: 'Amatic SC';
        font-size: 30px;
        font-weight: bold;
        color: #000000;
        letter-spacing: -0.41px;
        margin: 0 0px;
        &:after{
          background: #FFF8ED;
          border-radius: 100px;
          content: " ";
          width: 158px;
          height: 158px;
          display: block;
          position: absolute;
          z-index: -1;
          top: 20px;
          left: 11px;
        }
      }
      .aprenda:before{
        background: url('assets/image/vectors/aprenda.svg');;
        content: " ";
        width: 80px;
        height: 80px;
        display: block;
        top: 1px;
        margin: 0 auto;
      }

      .faca-bolos{
        padding-top: 78px;
      }
      .faca-bolos:before{
        background: url('assets/image/vectors/batedeira-bolo-liquid.svg')no-repeat;
        content: " ";
        width: 186px;
        height: 133px;
        display: block;
        top: -50px;
        margin: 0 auto;
        position: absolute;
      }
      .venda:before{
        background: url('assets/image/vectors/venda.svg');
        content: " ";
        width: 77px;
        height: 77px;
        display: block;
        top: 1px;
        margin: 0 auto;
      }
      .dotted{
        width: 126px;
        height: 5px;
        display: inline-block;
        background: url('assets/image/vectors/line-dotted.svg');
        margin: 0 10px 0 10px;
        position: relative;
        top: 80px;
      }
    }

  }

}


.scroll-3{
  &:before{
    background: #EBF6EC;
    content:" ";
    height: 320px;
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  &:after{
    background: url('assets/image/vectors/wave-4.svg') bottom;
    content: " ";
    height: 66px;
    display: block;
    position: absolute;
    top: 320px;
    width: 100%;
    z-index: -1;
  }
  /*background-image: linear-gradient(-179deg, #FCFBF3 2%, #FFFFFF 100%);*/
  position: relative;
  top: -100px;
  padding-top: 70px;
  .container{
    max-width: 852px;
    text-align: center;
    .chamada{
      /* CONFIRA O RECADO ESP: */
      opacity: 0.9;
      font-family: 'Open Sans';
      font-size: 30px;
      color: #43B44A;
      letter-spacing: 0;
      margin: 80px 0 50px 0;
      &:after{
        content: " ";
        width: 41px;
        height: 5px;
        display: block;
        background: url(assets/image/vectors/wave-2.svg);
        vertical-align: middle;
        margin: 15px auto;
      }
    }
    .video{
      .embed-responsive{
        box-shadow: 0 8px 38px 3px rgba(21,30,41,0.32);
      }
    }
    .first-titulo-video{
      font-family: 'Amatic SC';
      font-size: 42px;
      color: #000000;
      letter-spacing: 0;
      max-width: 300px;
      margin: 80px auto;
      &:before, &:after{
        content: " ";
        width: 41px;
        height: 5px;
        display: block;
        background: url(assets/image/vectors/wave-5.svg);
        vertical-align: middle;
        margin: 15px auto;
      }
    }
    .col-md-6{
      min-height: 530px;
    }
    .titulo-video{
      font-family: 'Amatic SC';
      font-size: 35px;
      color: $orange;
      letter-spacing: 0;
      margin: 30px 0 10px 0;
      &:after{
        content: " ";
        width: 41px;
        height: 5px;
        display: block;
        background: url('assets/image/vectors/wave-5.svg');
        vertical-align: middle;
        margin: 15px auto;
      }
    }
    .chamada-2{
      width: 565px;
      margin: 0 auto;
      opacity: 0.6;
      font-family: 'Open Sans';
      font-size: 16px;
      color: #000000;
      letter-spacing: -0.2px;
      line-height: 28px;
      margin-bottom: 40px;
    }
    .thumbnail{
      background: none;
      border: none;
      position: relative;
      img{
        box-shadow: 0 4px 22px 0px rgba(21, 30, 41, 0.16);
      }
      &:after{
        width: 48px;
        height: 38px;
        content: " ";
        position: absolute;
        background: url('assets/image/vectors/torta-branca.svg');
        top: 20%;
        margin-left: -20px;
        }
      .caption{
        padding-top: 0px;
        h3{
          margin-top: 15px;
        }
        p{
          opacity: 0.6;
          font-family: 'Open Sans';
          font-size: 16px;
          color: #000000;
          letter-spacing: -0.2px;
          line-height: 28px;
          margin-bottom: 40px;
          width: 90%;
          margin: 0 auto;
        }
      }
    }
  }
}

.scroll-4{
  position: relative;
  top: -100px;
  background: #ECF8EF;
  height: 460px;
  text-align: center;
  border-top: 5px dashed rgba(151, 151, 151, 0.32) ;
  .container{
    text-align: center;
    .chamada{
    font-family: 'Amatic SC';
    font-weight: bold;
    font-size: 60px;
    color: $dark-grey;
    letter-spacing: 0;
    padding-top: 30px;
    }
    p{
    font-family: 'Open Sans';
    font-size: 22px;
    color: #1E1D1B;
    letter-spacing: 0;
    max-width: 780px;
    margin: 0 auto;
    }
    button{
      background: $green;
      box-shadow: 0 10px 18px 5px rgba(38,52,78,0.19);
      border-radius: 9px;
      font-family: 'Open Sans';
      font-size: 26px;
      letter-spacing: -0.49px;
      border: none;
      color: #fff;
      width: 352px;
      height: 89px;
      transition: all 0.5s;
      text-transform: uppercase;
      margin-top: 40px;
    }
    button:hover{
      background: #50cc58;
      color:#fff;
    }
  }
}

.scroll-5{
  position: relative;
  margin-top: -80px;
  background-image: linear-gradient(-180deg, #f86441 24%, #F2361F 100%);
  color:#fff;
  position: relative;
  &:before{
    display: block;
    width: 100%;
    height: 60px;
    content: " ";
    background: url('assets/image/vectors/wave.svg');
    position: absolute;
    top: -60px;
    background-size: 123%;
    background-position: -10px 0px;
  }
  .bio{
    margin-top: 100px;
    h3{
      font-family: 'Amatic SC';
      font-size: 60px;
      color: #FFFFFF;
      letter-spacing: -1.33px;
    }
    p{
      font-family: 'Open Sans';
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: -0.23px;
      line-height: 34px;
    }
  }
  .img-tata{
    position: relative;

  }
}

footer{
  background: $dark-red;
  padding:10px 20px;
  color: #fff;
  height: 50px;
  text-align: center;
  .col-md-4:first-child{
    text-align: left;
  }
  .col-md-4:last-child{
    text-align: right;
  }
  a{
    color: #fff;
    padding-top: 10px;
    display: inline-block;
    margin: 0 5px;
    font-size: 11px;
  }
  a:hover{
    color: #ccc;
  }
  span{
    font-size: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    top: 4px;
  }
}
