/*------------------------------------------------------*\
    Styles for: 
    Created: 18/10/2017
    By: Murillo Camargo <contato@murillocamargo.com.br>
\*------------------------------------------------------*/

/**
 * Description
 */

.scroll-4 {

    &.inscricao {
        border-top: none;
    }
}

#inscricao-header {

    h2 {
        font-family: AmaticSC;
        font-size: 40px;
        font-weight: bold;
        line-height: 1.13;
        letter-spacing: -0.4px;
        text-align: center;
        color: #000000;
    }
}

/*------------------------------------*\
   #RESPONSIVE
\*------------------------------------*/

/* Desktops & Tablets Landscape */
@media screen and (max-width: 992px) {
}

/* Tablets Portrait */
@media (min-width: 768px) and (max-width: 992px) {
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}

/* Small Screens */
@media screen and (max-width: 767px) {
}

/* Smartphones Landscape */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Smartphones Portrait */
@media screen and (max-width: 480px) {
}

/* Very Small Screens */
@media screen and (max-width: 320px) {
}