.confirm{
  border-top: 15px $orange solid;
  #inscricao-header{
    padding-top: 140px;
      &:after {
        content: "";
        background: url(assets/image/vectors/icones-bg.svg);
        opacity: .025;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-size: 190px;
    }
    h2{
      opacity: 0.8;
      font-family: 'Amatic SC';
      font-size: 134px;
      margin-top: 0px;
      color: #000000;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0;
      font-weight: bold;
    }
  }

.scroll-4{
  border: none;
  height: 550px;
  .chamada{
    padding-top: 110px;
  }
}

.etapas{
  /* Rectangle: */
background-image: linear-gradient(0deg,#F0EDE9 0,#FFF 30%);
}

.etapas ul li{
  font-size: 40px;
}

.etapas ul .cadastro:after, .etapas ul .confirmacao:after{
  background: #EDF8F0;
}

.etapas ul .cadastro:before{
    content: " ";
    display: block;
    margin: 0 auto;
    background: url(assets/image/cadastro-1.png);
    width: 95px;
    height: 68px;
    top: 1px;
}

.etapas ul .confirmacao:before{
    content: " ";
    display: block;
    margin: 0 auto;
    background: url(assets/image/cadastro-2.png);
    width: 126px;
    height: 58px;
    top: 1px;
}

.etapas ul .vaga-garant:before{
    content: " ";
    display: block;
    margin: 0 auto;
    background: url(assets/image/cadastro-3.png);
    width: 105px;
    height: 65px;
    top: 1px;
}

#messenger{
   background: #43B44A;
   box-shadow: 0 10px 18px 5px rgba(38,52,78,.19);
   border-radius: 9px;
   font-family: 'Open Sans';
   font-size: 23px;
   letter-spacing: -.49px;
   border: none;
   color: #fff;
   width: 352px;
   transition: all .5s;
   text-transform: uppercase;
   line-height: 100px;
    margin-top: 40px;
    display: block;
    margin: 50px auto;
}

}

.final{
  #confirmar-header{
    &:after {
      content: "";
      background: url(assets/image/vectors/icones-bg.svg);
      opacity: .025;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      background-size: 190px;
    }
    h2{
      opacity: 0.8;
      font-family: 'Amatic SC';
      font-size: 140px;
      color: #000000;
      letter-spacing: 0;
      max-width: 775px;
      margin:120px auto 0 auto;
      font-weight: bold;
    }
    p{
      font-family: 'Open Sans';
      font-size: 38px;
      color: #1E1D1B;
      letter-spacing: 0;
      text-transform: uppercase;
      font-weight: lighter;
      margin-top: 30px;
    }
  }
  .scroll-4{
    height: 460px;
  }
  .scroll-4 .container p{
    margin-top: 110px;
  }

  .etapas ul .vaga-garant:before{
      content: " ";
      display: block;
      margin: 0 auto;
      background: url(assets/image/cadastro-3-verde.png);
      width: 105px;
      height: 65px;
      top: 1px;
  }

  .scroll-2 .etapas ul li:after{
    background: #EDF8F0;
  }

}
